{% extends 'layout.html' %}
{% block content %}

<style>
  /* Estilo para los botones */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: red;
    color: white;
  }

  /* Estilo para la card */
  .card {
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

</style>

<div class="container my-5">
  <div class="card shadow-sm">
    <div class="row g-0">
      <!-- Imagen del producto -->
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='css/img/' + product.image) }}" class="img-fluid" alt="{{ product.name }}" style="max-height: 400px; object-fit: contain;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">{{ product.description }}</p>
          <p class="fw-bold">${{ product.price }}</p>
          
          <div class="d-flex justify-content-center mt-4">
            <a href="{{ url_for('add_to_cart', product_name=product.name) }}" class="btn btn-danger me-2">Agregar al Carrito</a>
            <a href="{{ url_for('index') }}" class="btn btn-danger">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
